services:
  gateway:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gateway
    restart: unless-stopped
    init: true
    ports:
      - "8090:8090"
    networks:
      - innovatube-network
    depends_on:
      - eureka-server

networks:
  innovatube-network:
    driver: bridge
