spring:
  application:
    name: gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns:
              - "http://localhost:4200"
              - "https://innovatubeweb.netlify.app"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
      routes:
        - id: innovatube
          uri: lb://innovatube
          predicates:
            - Path=/Usuarios/**
        - id: jwt-service
          uri: lb://innovatube-jwt
          predicates:
            - Path=/jwt/**
server:
  port: 8090

eureka:
  client:
    service-url:
      defaultZone: https://ms-innovatube-eureka-server.onrender.com/
  instance:
    prefer-ip-address: true
