spring:
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns:
              - "http://localhost:4200"
              - "https://innovatubeweb.netlify.app"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
            
      routes:
        - id: innovatube-usuarios
          uri: lb://innovatube-usuarios
          predicates:
            - Path=/Usuarios/**
            
        - id: jwt-service
          uri: lb://innovatube-jwt
          predicates:
            - Path=/jwt/**